@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

// revealjs scss
@import "../reveal.js/css/reveal";
@import "../reveal.js/css/layout";

// revealjs custom theme
@import "../reveal.js/css/theme/template/mixins";
@import "../reveal.js/css/theme/template/settings";

// revealjs variables from exposer.scss
$backgroundColor: #fff; 
$mainFont: $family-sans-serif;
// $mainFontSize: 
$mainColor: #222; 
// $blockMargin: 
// $headingMargin: 
$headingFont: $family-sans-serif;
$headingColor: #222;
// $headingLineHeight: 
// $headingLetterSpacing: 
// $headingTextTransform: 
// $headingTextShadow: 
// $headingFontWeight: 
// $heading1TextShadow: 
$heading1Size: $size-1;
$heading2Size: $size-2;
$heading3Size: $size-3;
$heading4Size: $size-4;
$codeFont: $family-code;
$linkColor: $link;
$linkColorHover: $link-hover;
// $selectionBackgroundColor: 
// $selectionColor: 

// revealjs custom theme
@import "../reveal.js/css/theme/template/theme";
